---
pagination:
  data: domains
  size: 1
  alias: domainData
  addAllPagesToCollections: false
permalink: "/{{ domainData.key }}/"
layout: layouts/domain.njk
eleventyExcludeFromCollections: true
---
